{% extends "core/base.html" %} {%block content %} {% load static %}
<div class="layout">
  <nav class="navbar navbar-expand navbar-light t-bg-[#58FAF4]">
    <div class="container-fluid justify-content-center" style="height: 50px">
      <form class="d-flex">
        <input
          class="form-control"
          style="width: 230px"
          name="search"
          type="search"
          placeholder="음식점을 입력해주세요"
          aria-label="Search"
        />
        <button
          class="t-bg-sky-500 hover:t-bg-sky-400 t-text-white t-font-bold t-py-2 t-px-4 t-border-b-4 t-border-sky-700 hover:t-border-sky-500 t-rounded"
          type="submit"
        >
          검색
        </button>
      </form>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <ul class="nav row-center t-p-[0.3rem]">
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=한식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍚한식
        </a>
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=일식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍣일식
        </a>
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=중식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍜중식
        </a>
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=양식'"
          style="color: black"
          >🍝양식
        </a>
      </li>
    </ul>
  </div>
  <div class="container-fluid t-p-[0.6rem]">
    <div class="t-shadow-inner t-p-[0.5rem]">
      <div id="map" style="width: 100%; height: 200px"></div>
      <script type="text/javascript">
        var map = new naver.maps.Map("map", {
          center: new naver.maps.LatLng(37.511875, 127.050206),
          zoom: 15,
        });
        var marker = new naver.maps.Marker({
          position: new naver.maps.LatLng(37.511875, 127.050206),
          map: map,
        });
        {% for RESTAURANT in RESTAURANTS %}
        var lat = {{ RESTAURANT.latitude }}
        var lng = {{ RESTAURANT.longitude }}
        var marker = new naver.maps.Marker({
          position: new naver.maps.LatLng(lat, lng),
          map: map,
        });
        {% endfor %}
      </script>
    </div>
  </div>
  <div>
    {% if not RESTAURANTS %}
    <div class="collapse text-center" id="navbarToggleExternalContent">
      <span class="text-muted fs-6">음식점 검색 혹은</span>
      <br>
      <span class="text-muted fs-6">카테고리 선택을 이용해주세요</span>
    </div>
    {% endif %}
    <div class="collapse show" id="navbarToggleExternalContent">
      <div class="infinite-container">
        {% if RESTAURANTS %}
        <ul class="nav justify-content-center t-text-sm t-font-semibold t-border t-rounded-full t-border-solid t-border-2 t-border-sky-500 pt-3">
          <li class="nav-item">
            <p class="nav-link active text-center" style="color: #4AA4F5;" aria-current="page" href="#">가까운 순</p>
          </li>
          <li class="nav-item">
            <p class="nav-link disabled text-center" style="color: gray;" href="#">별점 순</p>
          </li>
          <li class="nav-item">
            <p class="nav-link disabled text-center" href="#" tabindex="-1" aria-disabled="true">하트 순</p>
          </li>
          <li class="nav-item">
            <p class="nav-link disabled text-center" href="#" tabindex="-1" aria-disabled="true">가격 순</p>
          </li>
        </ul>
          {% for RESTAURANT in RESTAURANTS %}
          <div class="t-shadow-inner infinite-item pt-5 pb-2">
            <div class="row">
              <div class="col col-md-auto">
                <li class="text-left fs-4 ms-3">{{ RESTAURANT.name }}</li>
                <li class="text-left fs-6 ms-3">02-1234-5678</li>
                <li class="text-left fs-6 ms-3">⭐ 4.5/5</li>
              </div>
              <div class="col col-lg-2 p-1.5">
                <img
                  src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20220426_128%2F1650926765070t48sN_JPEG%2Fgse_%25B9%25F6%25B0%25C5_%25B0%25AD%25B3%25B2_%25B8%25C5%25C0%25E5_%25BF%25DC%25B0%25FC_2mb.jpg"
                  class="rounded float-end img-fluid"
                />
              </div>
            </div>
            <li class="text-left fs-6 ms-3 pt-2">{{ RESTAURANT.address }}</li>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-12 text-center">
            {% if CATEGORY %}
              {% if RESTAURANTS.number != 1 %}
              <a
                class="text-md-start infinite-more-link fs-6 fw-bold"
                style="color: black"
                href="?category={{ CATEGORY }}&page={{ RESTAURANTS.previous_page_number }}"
              >
              < 이전  
              </a>
              {% endif %}
              {% if RESTAURANTS.has_next %}
              <a
                class="text-md-end infinite-more-link fs-6 fw-bold"
                style="color: black"
                href="?category={{ CATEGORY }}&page={{ RESTAURANTS.next_page_number }}"
              >
              다음 > 
              </a>
              {% endif %}
            {% endif %}
            {% if SEARCH_KEYWORD %}
              {% if RESTAURANTS.number != 1 %}
              <a
                class="text-md-start infinite-more-link fs-6 fw-bold"
                style="color: black"
                href="?search={{ SEARCH_KEYWORD }}&page={{ RESTAURANTS.previous_page_number }}"
              >
              < 이전  
              </a>
              {% endif %}
              {% if RESTAURANTS.has_next %}
              <a
                class="text-md-end infinite-more-link fs-6 fw-bold"
                style="color: black"
                href="?search={{ SEARCH_KEYWORD }}&page={{ RESTAURANTS.next_page_number }}"
              >
              다음 > 
              </a>
              {% endif %}
            {% endif %}
            </div>
          </div>
        {% elif not RESTAURANTS and SEARCH_KEYWORD %}
        <p class="text-center fs-6">검색어에 해당하는 음식점이 없습니다🥲</p>
        {% endif %}
      </div>
    </div>
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler t-bg-cyan-500 t-shadow-lg t-shadow-cyan-500/50"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="True"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
</div>
<script src="{% static 'imakewebthings-waypoints/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'imakewebthings-waypoints/js/infinite.min.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $(".infinite-container")[0],
    offset: "bottom-in-view",
    onBeforePageLoad: function () {
      $(".loading").show();
      $(".infinite-more-link").hide();
    },
    onAfterPageLoad: function () {
      $(".loading").hide();
    },
  });
</script>
{%endblock%}
