{% extends "core/base.html" %} {%block content %}
<div class="container-fluid">
  <div class="row">
    <ul class="nav row-center t-p-[0.3rem]">
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=한식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍚한식</a
        >
        {% if CATEGORY %}
        <div
          class="offcanvas offcanvas-bottom h-50 show"
          tabindex="-1"
          id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
              Offcanvas bottom {{ CATEGORY }}
            </h5>
          </div>
          <div class="offcanvas-body small">...</div>
        </div>
        {% else %}
        <div
          class="offcanvas offcanvas-bottom h-50"
          tabindex="-1"
          id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
              Offcanvas bottom
            </h5>
          </div>
          <div class="offcanvas-body small">...</div>
        </div>
        {% endif %}
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=일식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍣일식</a
        >
        <div
          class="offcanvas offcanvas-bottom h-50"
          tabindex="-1"
          id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
              Offcanvas bottom
            </h5>
          </div>
          <div class="offcanvas-body small">...</div>
        </div>
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=중식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍜중식</a
        >
        <div
          class="offcanvas offcanvas-bottom h-50"
          tabindex="-1"
          id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
              Offcanvas bottom
            </h5>
          </div>
          <div class="offcanvas-body small">...</div>
        </div>
      </li>
      <li class="nav-item col text-center">
        <a
          class="nav-link fs-6 t-shadow-inner hover:t-bg-[#B3B6B7]"
          onclick="location.href='?category=양식'"
          style="color: black"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          >🍝양식</a
        >
        <div
          class="offcanvas offcanvas-bottom h-50"
          tabindex="-1"
          id="offcanvasBottom"
          aria-labelledby="offcanvasBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">
              Offcanvas bottom
            </h5>
          </div>
          <div class="offcanvas-body small">...</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container-fluid t-p-[0.6rem]">
    <div class="t-shadow-inner t-p-[0.5rem]">
      <div id="map" style="width: 100%; height: 300px"></div>
      <script type="text/javascript">
        var map = new naver.maps.Map("map", {
          center: new naver.maps.LatLng(37.511875, 127.050206),
          zoom: 15,
        });
        var marker = new naver.maps.Marker({
          position: new naver.maps.LatLng(37.511875, 127.050206),
          map: map,
        });
        {% if RESTAURANTS %}
        {% for RESTAURANT in RESTAURANTS %}
        var lat = {{ RESTAURANT.latitude }}
        var lng = {{ RESTAURANT.longitude }}
        var marker = new naver.maps.Marker({
          position: new naver.maps.LatLng(lat, lng),
          map: map,
        });
        {% endfor %}
        {% endif %}
      </script>
    </div>
  </div>
  {%endblock%}
</div>
